{% extends "base.html" %}
{% block title %}特定商取引法に基づく表記{% endblock %}
{% block body %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">特定商取引法に基づく表記</h3>
        <table>
            <tbody>
                <tr>
                    <td>アプリ名</td>
                    <td>Yutra_timer</td>
                </tr>
                <tr>
                    <td>販売責任者</td>
                    <td>高橋洋一</td>
                </tr>

                <tr>
                    <td>運営統括責任者</td>
                    <td>高橋洋一</td>
                </tr>

                <tr>
                    <td>所在地</td>
                    <td>請求があったら遅滞なく開示します。</td>
                </tr>

                <tr>
                    <td>メールアドレス</td>
                    <td><a href="mailto:u-rib@ u-rib.com">mailto:u-rib@ u-rib.com</a></td>
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td>請求があったら遅滞なく開示します。</td>
                </tr>
                <tr>
                    <td>販売価格</td>
                    <td>購入手続きの際に画面に表示されます。
                        消費税は内税として表示しております。
                        </td>
                </tr>

                <tr>
                    <td>決済期間</td>
                    <td>クレジットカード決済の場合はただちに処理されます。</td>
                </tr>
                
                <tr>
                    <td>受け付け可能な決済手段</td>
                    <td>以下のいずれかのお支払方法をご利用いただけます。
                        ・各種クレジットカード
                        ・携帯電話の料金回収サービス
                        ・その他、購入にかかる決済を代行する会社が提供するお支払方法                    
                        </td>
                </tr>

                <tr>
                    <td>追加手数料等の追加料金</td>
                    <td>特にございません。</td>
                </tr>
                
                <tr>
                    <td>引渡時期</td>
                    <td>キャンセル対応を受け付けます。</td>
                </tr>

                <tr>
                    <td>返品・キャンセル</td>
                    <td>クレジットカード決済が処理されるとただちにご利用できます。
                    </td>
                </tr>
                <tr>
                    <td>特別条件</td>
                    <td>１．クーリングオフについて
                        特定商取引法に規定されているクーリングオフが適用されるサービスではありません。
                        ２．定期課金方式の注意事項
                        契約期間途中の解約となった場合も契約満了日までの料金が発生し、日割精算等による返金を含めた一切の返金は行われません。この場合、サービスも契約満了日まで提供され分。
                        </td>
                </tr>

            </tbody>

        </table>
    </div>
{% endblock %}