{% extends "base.html" %}
{% block title %}使い方{% endblock %}
{% block body %}
    <div style="text-align: center">
      <center>
        <p>使い方はこちらの動画から↓</p>
      </center>
      <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0Vzessd1edM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </center>
    </div>
{% endblock %}
  