{% extends "base.html" %}
{% block title %}how to use myhome{% endblock %}
{% block body %}
    <div style="text-align: center">
        <font color="green"><strong>最寄りのトイレ案内</strong></font>
        <br>
        <iframe width="80%" height="400" src="https://www.youtube.com/embed/T_posb2zVdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen poster="経由地トイレ.png"></iframe>
        <br>
        <br>
        <font color="green"><strong>トイレを通る最短経路案内</strong></font>
        <br>
        <iframe width="80%" height="400" src="https://www.youtube.com/embed/uEFwl4cmC2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen poster="最寄トイレ.png"></iframe>
        <br>
        <br>
        <font color="green"><strong>所要時間内のトイレ分布図</strong></font>
        <br>
        <iframe width="80%" height="400" src="https://www.youtube.com/embed/6y6-ppy11is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen poster="立ち寄りトイレ.png"></iframe>
        <br>
        <br>
        <font color="green"><strong>生活圏内のトイレ分布図</strong></font>
        <br>
        <iframe width="80%" height="400" src="https://www.youtube.com/embed/2stfy54QEWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen poster="所要時間トイレ.png"></iframe>
        <br>
        <br>
        <font color="green"><strong>経由地最寄りのトイレ案内</strong></font>
        <br>
        <iframe width="80%" height="400" src="https://www.youtube.com/embed/YJAV-gcjWhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen poster="生活圏トイレ.png"></iframe>
{% endblock %}
  