{% extends "base.html" %}
{% block title %}マイページ{% endblock %}
{% block body %}
  <script>
    const start_h0 = new Date()
    const start_h = new Date().toLocaleDateString('sv-SE');
    const date2 = new Date(parseInt(start_h.split("-")[0]),parseInt(start_h.split("-")[1]),parseInt(start_h.split("-")[2]),22,0);
    const date3 = new Date(parseInt(start_h.split("-")[0]),parseInt(start_h.split("-")[1]),parseInt(start_h.split("-")[2]),18,0);
    console.log(date2);
    if (start_h0 > date2 && start_h0 < date3) {
      console.log("maintenance");
      alert("申し訳ございません。メンテナンス中です。");
      alert("22:00-18:00はログアウト状態でのご利用(✕保存機能、〇検索機能)となります");
    } else {
      console.log("no maintenance");
    }
  </script>
  {% if subscribed == "YES" %}
    <h1>定期購入済の専用ページ</h1>
    <p>購入日：{{checked_date}}</p>
    <p>現在：{{date_now}}</p>
    <p>期限日：{{expired_date}}</p>
    <form method="post" action="/card_regist">
      <button type="submit" id="card_regist" onclick="credit_regist();">決済用クレジットカード登録</button>
    </form>
    <form method="post" action="/card_delete">
      <button type="submit" id="card_delete">決済用クレジットカード情報削除</button>
    </form>
    <form method="post" action="/card_update">
      <button type="submit" id="card_update" onclick="credit_update();">決済用クレジットカード更新</button>
    </form>
    <form action = "/my_index" method="post" name="my_index">
      <button type="submit" name="my_index" value="my_index">検索開始(外出メモ、タイマー付き)</button>
    </form>
    <br>
    <iframe src="{{ url_for('schedule') }}" width="1000" height="500">
    </iframe>
    <br>
    <br>
    <a href ="{{ url_for('exclude') }}">退会する</a>
    <br>
    <br>
    <br>
    {% if named %}
        Welcome, {{ username }}さん!
        <form action = "/mypage" method="post" name="name">
            <input type="text" name="username" placeholder="ユーザー名変更" autofocus="">
            <button type="submit" name="username">ユーザー名変更</button>
        </form>
    {% else %}
        <p id ="name">ユーザー名が設定されていません</p>
        <form action = "/mypage" method="post" name="name">
            <input type="text" name="username" placeholder="ユーザー名設定" autofocus="">
            <button type="submit" name="username">ユーザー名設定</button>
        </form>
    {% endif %}
    <p>メールアドレス:{{ emailaddress }}</p>
    <br>
    <input type="button" value="パスワード表示"
     onclick="document.getElementById('pass').style.display = 'inline';">
    <input type="button" value="パスワード非表示"
     onclick="document.getElementById('pass').style.display = 'none';">
    <br>パスワード:<p id="pass">{{ password }}</p>
    {% if my_map %}
      
      <br>
      {% for i in length(my_subscribed_designated_map) %}

        <p><font color="green"><a id="my_designated">{{my_subscribed_designated_map[i]}}のトイレ地図を保存しています。</font></a></p>
        <iframe src="{{url_for('static', filename='{h1}'.format(h1=my_subscribed_designated_map[i]))}}" width="100%" height="500px"></iframe>
        </iframe>
      {% endfor %}
    {% else %}
        <form method="post" action="/mypage">
          <div id="subscribed_my_map"><strong><font color="red">保存するトイレ地図の市町村</font></strong></div>
          <script>
            function convertCSVtoArray(){ // 読み込んだCSVデータが文字列として渡される
                var result = []; // 最終的な二次元配列を入れるための配列
                const select = document.createElement('select');
                select.setAttribute("id","subscribed_city_my_map");
                select.setAttribute("name","subscribed_city_my_map");
                select.setAttribute("value","subscribed_city_my_map");
                select.required = true;
                console.log(select.required);
                // 各行ごとにカンマで区切った文字列を要素とした二次元配列を生成
                var res = {{ lst_map | tojson}};
                
                var res1 = res.slice(0,3);
                console.log(res1);
                var res2 = res.slice(3,4);
                console.log(res2);
                var res3 = res.slice(4,5);
                var res4 = res.slice(5,6);
                var res5 = res.slice(6,7);
                var res6 = res.slice(7,8);
                var res7 = res.slice(8,9);
                var res8 = res.slice(9,17);
                console.log(res8);
                var res9 = res.slice(17,19);
                console.log(res9);
                var res10 = res.slice(19,21);
                var res11 = res.slice(21,23);
                var res12 = res.slice(23,24);
                var res13 = res.slice(24,28);
                var res14 = res.slice(28,29);
                var res15 = res.slice(29,30);
                var res16 = res.slice(30,32);
                var res17 = res.slice(32,49);
                var res18 = res.slice(49,53);
                var res19 = res.slice(53,58);
                var res20 = res.slice(58,85);
                var res21 = res.slice(85,86);
                var res22 = res.slice(86,87);
                var res23 = res.slice(87,88);
                var res24 = res.slice(88,89);
                var res25 = res.slice(89,90);
                var res0 = [res1,res2,res3,res4,res5,res6,res7,res8,res9,res10,res11,res12,res13,res14,res15,res16,res17,res18,res19,res20,res21,res22,res23,res24,res25];
                
                
                for(var i=0;i<res0.length;++i){
                  var optiongroup = document.createElement("optgroup");
                  select.add(optiongroup);
                  console.log(i);
                    
                  for(var j=0;j<res0[i].length;++j){
                    optiongroup.setAttribute("id","subscribed_my_map_select");
                    optiongroup.setAttribute("name","subscribed_my_map_select");
                    optiongroup.setAttribute("value","subscribed_my_map_select");
                    optiongroup.setAttribute("label",res0[i][j][0]);
                    // option要素を生成
                    let option = document.createElement('option');
                    // option要素のテキストを設定
                    option.text = res0[i][j][1];
                    // option要素の値を設定
                    option.value = res0[i][j][1];
                    // 生成したoption要素をselect要素に追加
                    optiongroup.appendChild(option);
                    
                  }
                }
                // select要素をbody要素の末尾に追加
                document.getElementById("subscribed_my_map0").after(select);
            }
            window.onload=convertCSVtoArray();
          </script>
          <input type="submit" value="検索" onclick="Form">
        </form>
    {% endif %}
    <h1>登録済みの外出内容</h1>
    {% if routeset == "YES" %}
    
      {% for item in myroute %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[3]}}</h1>
          <p>{{item[6]}}分余裕を見て</p>
          <p>{{item[4]}}に出発して{{item[5]}}に到着</p>
          <p>詳細{{item[7]}}</p>
        </div>
      {% endfor %}
      
      <label id="arrival_year">{{arrival_year}}年{{arrival_month}}月{{arrival_day}}日の</label>
      <label id="arrival_hour">{{arrival_hour}}時{{arrival_minute}}分に到着するために、</label>
      <br>
      <label id="prepare_year">{{prepare_year}}年{{prepare_month}}月{{prepare_day}}日の</label>
      <label id="prepare_hour"><b></b>{{prepare_hour}}時{{prepare_minute}}分に準備を始めて、</b></label>
      <br>
      <label id="depart_year">{{depart_year}}年{{depart_month}}月{{depart_day}}日の</label>
      <label id="depart_hour"><b>{{depart_hour}}時{{depart_minute}}分に出発する</b></label>
      <br>
      <input type="button" value="タイマーセット" onclick="timer1()"/>
      <p>残り時間は</p>
      <div class="countdown">
          <span class="countdown__time js-countdown-day">0</span>
          <span class="countdown__unit">日</span>
          <span class="countdown__time js-countdown-hour">00</span>
          <span class="countdown__unit">時間</span>
          <span class="countdown__time js-countdown-min">00</span>
          <span class="countdown__unit">分</span>
          <span class="countdown__time js-countdown-sec">00</span>
          <span class="countdown__unit">秒</span>
          <span class="countdown__time js-countdown-ms">00</span>
          <form action="/sound" method="post">
            <button type="submit" id="sound">0秒になったらブザーが鳴ります。</button>
          </form>
      </div>
      <script type="text/javascript">
        const depart_year1 = parseInt(document.getElementById("prepare_year").innerText.substring(0,4));
        const depart_month1 = parseInt(document.getElementById("prepare_year").innerText.substring(5,7)-1);
        const depart_day1 = parseInt(document.getElementById("prepare_year").innerText.substring(8,10));
        const depart_hour1 = parseInt(document.getElementById("prepare_hour").innerText.substring(0,2));
        const depart_minute1 = parseInt(document.getElementById("prepare_hour").innerText.substring(3,5));
        console.log(depart_year1);
        console.log(depart_month1);
        var form = document.getElementById("sound");
        function isSmartPhone() {
          if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
            window.navigator.vibrate(200); // vibrate for 200ms
          } else {
            var form = document.getElementById("sound");
            form.click();
          }
        }
        function timer1() {
          let countdown1 =setInterval (function(){
              const now1 = new Date(); //現在日時

              const target1 = new Date(depart_year1,depart_month1,depart_day1,depart_hour1,depart_minute1,0); //対象日時
              const differ1 = target1.getTime() - now1.getTime(); //残り日時
              console.log(differ1);
              if(differ1 < 0) isSmartPhone()
              const ms1 = Math.floor(differ1); //ミリ秒
              const sec1 = Math.floor(differ1 / 1000 % 60); //秒
              const min1 = Math.floor(differ1 / 1000 / 60 % 60); //分
              const hour1 = Math.floor(differ1 / 1000 / 60 / 60 % 24); //時
              const day1 = Math.floor(differ1 / (1000 * 60 * 60 * 24)); //日

              document.querySelector('.js-countdown-ms').textContent = String(ms1).slice(-3, -1);
              document.querySelector('.js-countdown-sec').textContent = String(sec1).padStart(2, '0');
              document.querySelector('.js-countdown-min').textContent = String(min1).padStart(2, '0');
              document.querySelector('.js-countdown-hour').textContent = String(hour1).padStart(2, '0');
              document.querySelector('.js-countdown-day').textContent = String(day1);
          },1000)
        }
        console.log("time");
      </script>
      {% if via %}
        {% for item in myroute_via %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[4]}}</h1>
          <p>内容{{item[5]}}</p>
          <p>{{item[8]}}に準備して</p>
          <p>{{item[6]}}に{{item[9]}}を出発して</p>

          
          <p>{{item[12]}}分で</p>
          <p>{{item[11]}}の</p>
          <p>トイレ{{item[10]}}を経由して</p>
          <p>{{item[13]}}分で</p>
          <p>{{item[14]}}に到着する</p>
          <iframe src="{{item[15]}}">ナビ画面</iframe>
          
        </div>
          
        {% endfor %}
      {% else %}
      {% endif %}
      <label id="arrival_year">{{arrival_year}}年{{arrival_month}}月{{arrival_day}}日の</label>
      <label id="arrival_hour">{{arrival_hour}}時{{arrival_minute}}分に到着するために、</label>
      <br>
      <label id="prepare_year">{{prepare_year}}年{{prepare_month}}月{{prepare_day}}日の</label>
      <label id="prepare_hour"><b></b>{{prepare_hour}}時{{prepare_minute}}分に準備を始めて、</b></label>
      <br>
      <label id="depart_year">{{depart_year}}年{{depart_month}}月{{depart_day}}日の</label>
      <label id="depart_hour"><b>{{depart_hour}}時{{depart_minute}}分に出発する</b></label>
      <br>
      <input type="button" value="タイマーセット" onclick="timer2()"/>
      <p>残り時間は</p>
      <div class="countdown">
          <span class="countdown__time js-countdown-day">0</span>
          <span class="countdown__unit">日</span>
          <span class="countdown__time js-countdown-hour">00</span>
          <span class="countdown__unit">時間</span>
          <span class="countdown__time js-countdown-min">00</span>
          <span class="countdown__unit">分</span>
          <span class="countdown__time js-countdown-sec">00</span>
          <span class="countdown__unit">秒</span>
          <span class="countdown__time js-countdown-ms">00</span>
          <form action="/sound" method="post">
            <button type="submit" id="sound">0秒になったらブザーが鳴ります。</button>
          </form>
      </div>
      <script type="text/javascript">
        const depart_year2 = parseInt(document.getElementById("prepare_year").innerText.substring(0,4));
        const depart_month2 = parseInt(document.getElementById("prepare_year").innerText.substring(5,7)-1);
        const depart_day2 = parseInt(document.getElementById("prepare_year").innerText.substring(8,10));
        const depart_hour2 = parseInt(document.getElementById("prepare_hour").innerText.substring(0,2));
        const depart_minute2 = parseInt(document.getElementById("prepare_hour").innerText.substring(3,5));
        console.log(depart_year2);
        console.log(depart_month2);
        var form = document.getElementById("sound");
        function isSmartPhone() {
          if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
            window.navigator.vibrate(200); // vibrate for 200ms
          } else {
            var form2 = document.getElementById("sound");
            form2.click();
          }
        }
        function timer() {
          let countdown2 =setInterval (function(){
              const now2 = new Date(); //現在日時

              const target2 = new Date(depart_year2,depart_month2,depart_day2,depart_hour2,depart_minute2,0); //対象日時
              const differ2 = target2.getTime() - now2.getTime(); //残り日時
              console.log(differ);
              if(differ < 0) isSmartPhone()
              const ms2 = Math.floor(differ2); //ミリ秒
              const sec2 = Math.floor(differ2 / 1000 % 60); //秒
              const min2 = Math.floor(differ2 / 1000 / 60 % 60); //分
              const hour2 = Math.floor(differ2 / 1000 / 60 / 60 % 24); //時
              const day2 = Math.floor(differ2 / (1000 * 60 * 60 * 24)); //日

              document.querySelector('.js-countdown-ms').textContent = String(ms2).slice(-3, -1);
              document.querySelector('.js-countdown-sec').textContent = String(sec2).padStart(2, '0');
              document.querySelector('.js-countdown-min').textContent = String(min2).padStart(2, '0');
              document.querySelector('.js-countdown-hour').textContent = String(hour2).padStart(2, '0');
              document.querySelector('.js-countdown-day').textContent = String(day2);
          },1000)
        }
        console.log("time");
      </script>
      {% if closest %}
        {% for item in myroute_closest %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[4]}}</h1>
          <p>内容{{item[5]}}</p>
          <p>{{item[7]}}に準備して</p>
          <p>{{item[6]}}に{{item[8]}}を出発して</p>

          <p>{{item[9]}}の</p>
          <p>{{item[10]}}分で</p>
          <p>トイレ{{item[11]}}に到着する</p>
          <iframe src="{{item[12]}}">ナビ画面</iframe>
          
        </div>
        {% endfor %}
      {% else %}
      {% endif %}
      <label id="arrival_year">{{arrival_year}}年{{arrival_month}}月{{arrival_day}}日の</label>
      <label id="arrival_hour">{{arrival_hour}}時{{arrival_minute}}分に到着するために、</label>
      <br>
      <label id="prepare_year">{{prepare_year}}年{{prepare_month}}月{{prepare_day}}日の</label>
      <label id="prepare_hour"><b></b>{{prepare_hour}}時{{prepare_minute}}分に準備を始めて、</b></label>
      <br>
      <label id="depart_year">{{depart_year}}年{{depart_month}}月{{depart_day}}日の</label>
      <label id="depart_hour"><b>{{depart_hour}}時{{depart_minute}}分に出発する</b></label>
      <br>
      <input type="button" value="タイマーセット" onclick="timer3()"/>
      <p>残り時間は</p>
      <div class="countdown">
          <span class="countdown__time js-countdown-day">0</span>
          <span class="countdown__unit">日</span>
          <span class="countdown__time js-countdown-hour">00</span>
          <span class="countdown__unit">時間</span>
          <span class="countdown__time js-countdown-min">00</span>
          <span class="countdown__unit">分</span>
          <span class="countdown__time js-countdown-sec">00</span>
          <span class="countdown__unit">秒</span>
          <span class="countdown__time js-countdown-ms">00</span>
          <form action="/sound" method="post">
            <button type="submit" id="sound">0秒になったらブザーが鳴ります。</button>
          </form>
      </div>
      <script type="text/javascript">
        const depart_year3 = parseInt(document.getElementById("prepare_year").innerText.substring(0,4));
        const depart_month3 = parseInt(document.getElementById("prepare_year").innerText.substring(5,7)-1);
        const depart_day3 = parseInt(document.getElementById("prepare_year").innerText.substring(8,10));
        const depart_hour3 = parseInt(document.getElementById("prepare_hour").innerText.substring(0,2));
        const depart_minute3 = parseInt(document.getElementById("prepare_hour").innerText.substring(3,5));
        console.log(depart_year3);
        console.log(depart_month3);
        var form3 = document.getElementById("sound");
        function isSmartPhone() {
          if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
            window.navigator.vibrate(200); // vibrate for 200ms
          } else {
            var form3 = document.getElementById("sound");
            form3.click();
          }
        }
        function timer3() {
          let countdown3 =setInterval (function(){
              const now3 = new Date(); //現在日時

              const target3 = new Date(depart_year3,depart_month3,depart_day3,depart_hour3,depart_minute3,0); //対象日時
              const differ3 = target3.getTime() - now3.getTime(); //残り日時
              console.log(differ3);
              if(differ3 < 0) isSmartPhone()
              const ms3 = Math.floor(differ3); //ミリ秒
              const sec3 = Math.floor(differ3 / 1000 % 60); //秒
              const min3 = Math.floor(differ3 / 1000 / 60 % 60); //分
              const hour3 = Math.floor(differ3 / 1000 / 60 / 60 % 24); //時
              const day3 = Math.floor(differ3 / (1000 * 60 * 60 * 24)); //日

              document.querySelector('.js-countdown-ms').textContent = String(ms3).slice(-3, -1);
              document.querySelector('.js-countdown-sec').textContent = String(sec3).padStart(2, '0');
              document.querySelector('.js-countdown-min').textContent = String(min3).padStart(2, '0');
              document.querySelector('.js-countdown-hour').textContent = String(hour3).padStart(2, '0');
              document.querySelector('.js-countdown-day').textContent = String(day3);
          },1000)
        }
        console.log("time");
      </script>
      {% if traveltime %}
        {% for item in myroute_traveltime %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[4]}}</h1>
          <p>内容{{item[5]}}</p>
          <p>{{item[8]}}に準備して</p>
          <p>{{item[7]}}に{{item[6]}}を出発して</p>
          <p>{{item[10]}}の{{item[9]}}に</p>
          <p>{{item[11]}}分で到着する</p>
          <iframe src="{{item[12]}}">ナビ画面</iframe>
          
        </div>
          
        {% endfor %}
      {% else %}
      {% endif %}
      <label id="arrival_year">{{arrival_year}}年{{arrival_month}}月{{arrival_day}}日の</label>
      <label id="arrival_hour">{{arrival_hour}}時{{arrival_minute}}分に到着するために、</label>
      <br>
      <label id="prepare_year">{{prepare_year}}年{{prepare_month}}月{{prepare_day}}日の</label>
      <label id="prepare_hour"><b></b>{{prepare_hour}}時{{prepare_minute}}分に準備を始めて、</b></label>
      <br>
      <label id="depart_year">{{depart_year}}年{{depart_month}}月{{depart_day}}日の</label>
      <label id="depart_hour"><b>{{depart_hour}}時{{depart_minute}}分に出発する</b></label>
      <br>
      <input type="button" value="タイマーセット" onclick="timer4()"/>
      <p>残り時間は</p>
      <div class="countdown">
          <span class="countdown__time js-countdown-day">0</span>
          <span class="countdown__unit">日</span>
          <span class="countdown__time js-countdown-hour">00</span>
          <span class="countdown__unit">時間</span>
          <span class="countdown__time js-countdown-min">00</span>
          <span class="countdown__unit">分</span>
          <span class="countdown__time js-countdown-sec">00</span>
          <span class="countdown__unit">秒</span>
          <span class="countdown__time js-countdown-ms">00</span>
          <form action="/sound" method="post">
            <button type="submit" id="sound">0秒になったらブザーが鳴ります。</button>
          </form>
      </div>
      <script type="text/javascript">
        const depart_year4 = parseInt(document.getElementById("prepare_year").innerText.substring(0,4));
        const depart_month4 = parseInt(document.getElementById("prepare_year").innerText.substring(5,7)-1);
        const depart_day4 = parseInt(document.getElementById("prepare_year").innerText.substring(8,10));
        const depart_hour4 = parseInt(document.getElementById("prepare_hour").innerText.substring(0,2));
        const depart_minute4 = parseInt(document.getElementById("prepare_hour").innerText.substring(3,5));
        console.log(depart_year4);
        console.log(depart_month4);
        var form4 = document.getElementById("sound");
        function isSmartPhone() {
          if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
            window.navigator.vibrate(200); // vibrate for 200ms
          } else {
            var form4 = document.getElementById("sound");
            form4.click();
          }
        }
        function timer4() {
          let countdown4 =setInterval (function(){
              const now4 = new Date(); //現在日時

              const target4 = new Date(depart_year4,depart_month4,depart_day4,depart_hour4,depart_minute4,0); //対象日時
              const differ4 = target4.getTime() - now4.getTime(); //残り日時
              console.log(differ4);
              if(differ4 < 0) isSmartPhone()
              const ms4 = Math.floor(differ4); //ミリ秒
              const sec4 = Math.floor(differ4 / 1000 % 60); //秒
              const min4 = Math.floor(differ4 / 1000 / 60 % 60); //分
              const hour4 = Math.floor(differ4 / 1000 / 60 / 60 % 24); //時
              const day4 = Math.floor(differ4 / (1000 * 60 * 60 * 24)); //日

              document.querySelector('.js-countdown-ms').textContent = String(ms4).slice(-3, -1);
              document.querySelector('.js-countdown-sec').textContent = String(sec4).padStart(2, '0');
              document.querySelector('.js-countdown-min').textContent = String(min4).padStart(2, '0');
              document.querySelector('.js-countdown-hour').textContent = String(hour4).padStart(2, '0');
              document.querySelector('.js-countdown-day').textContent = String(day4);
          },1000)
        }
        console.log("time");
      </script>
      {% if livingarea %}
        {% for item in myroute_livingarea %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[4]}}</h1>
          <p>内容{{item[5]}}</p>
          <p>{{item[8]}}に準備して</p>
          <p>{{item[6]}}に{{item[9]}}を出発して</p>
          <p>{{item[11]}}に到着する</p>
          <p>{{item[10]}}の分布図</p>
          <iframe src="{{item[12]}}">ナビ画面</iframe>
        </div>
          
        {% endfor %}
      {% else %}
      {% endif %}
      <label id="arrival_year">{{arrival_year}}年{{arrival_month}}月{{arrival_day}}日の</label>
      <label id="arrival_hour">{{arrival_hour}}時{{arrival_minute}}分に到着するために、</label>
      <br>
      <label id="prepare_year">{{prepare_year}}年{{prepare_month}}月{{prepare_day}}日の</label>
      <label id="prepare_hour"><b></b>{{prepare_hour}}時{{prepare_minute}}分に準備を始めて、</b></label>
      <br>
      <label id="depart_year">{{depart_year}}年{{depart_month}}月{{depart_day}}日の</label>
      <label id="depart_hour"><b>{{depart_hour}}時{{depart_minute}}分に出発する</b></label>
      <br>
      <input type="button" value="タイマーセット" onclick="timer5()"/>
      <p>残り時間は</p>
      <div class="countdown">
          <span class="countdown__time js-countdown-day">0</span>
          <span class="countdown__unit">日</span>
          <span class="countdown__time js-countdown-hour">00</span>
          <span class="countdown__unit">時間</span>
          <span class="countdown__time js-countdown-min">00</span>
          <span class="countdown__unit">分</span>
          <span class="countdown__time js-countdown-sec">00</span>
          <span class="countdown__unit">秒</span>
          <span class="countdown__time js-countdown-ms">00</span>
          <form action="/sound" method="post">
            <button type="submit" id="sound">0秒になったらブザーが鳴ります。</button>
          </form>
      </div>
      <script type="text/javascript">
        const depart_year5 = parseInt(document.getElementById("prepare_year").innerText.substring(0,4));
        const depart_month5 = parseInt(document.getElementById("prepare_year").innerText.substring(5,7)-1);
        const depart_day5 = parseInt(document.getElementById("prepare_year").innerText.substring(8,10));
        const depart_hour5 = parseInt(document.getElementById("prepare_hour").innerText.substring(0,2));
        const depart_minute5 = parseInt(document.getElementById("prepare_hour").innerText.substring(3,5));
        console.log(depart_year5);
        console.log(depart_month5);
        var form5 = document.getElementById("sound");
        function isSmartPhone() {
          if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
            window.navigator.vibrate(200); // vibrate for 200ms
          } else {
            var form5 = document.getElementById("sound");
            form5.click();
          }
        }
        function timer5() {
          let countdown5 =setInterval (function(){
              const now5 = new Date(); //現在日時

              const target5 = new Date(depart_year5,depart_month5,depart_day5,depart_hour5,depart_minute5,0); //対象日時
              const differ5 = target5.getTime() - now5.getTime(); //残り日時
              console.log(differ5);
              if(differ5 < 0) isSmartPhone()
              const ms5 = Math.floor(differ5); //ミリ秒
              const sec5 = Math.floor(differ5 / 1000 % 60); //秒
              const min5 = Math.floor(differ5 / 1000 / 60 % 60); //分
              const hour5 = Math.floor(differ5 / 1000 / 60 / 60 % 24); //時
              const day5 = Math.floor(differ5 / (1000 * 60 * 60 * 24)); //日

              document.querySelector('.js-countdown-ms').textContent = String(ms5).slice(-3, -1);
              document.querySelector('.js-countdown-sec').textContent = String(sec5).padStart(2, '0');
              document.querySelector('.js-countdown-min').textContent = String(min5).padStart(2, '0');
              document.querySelector('.js-countdown-hour').textContent = String(hour5).padStart(2, '0');
              document.querySelector('.js-countdown-day').textContent = String(day5);
          },1000)
        }
        console.log("time");
      </script>
      {% if cruise %}
        {% for item in myroute_cruise %}
        <div style = "border: solid 3px cadetblue" draggable="true">
          <h1>件名：{{item[4]}}</h1>
          <p>内容{{item[5]}}</p>
          <p>{{item[8]}}に準備して</p>
          <p>{{item[6]}}に{{item[9]}}を出発して({{item[26]}}分で到着)</p>
          {% if num == 1 %}
            <p>{{item[11]}}の{{item[10]}}を経由して({{item[12]}}分で到着)</p>
          {% elif num == 2 %}
            <p>{{item[11]}}の{{item[10]}}を経由して({{item[12]}}分で到着)</p>
            <p>{{item[14]}}の{{item[13]}}を経由して({{item[15]}}分で到着)</p>
          {% elif num == 3 %}
            <p>{{item[11]}}の{{item[10]}}を経由して({{item[12]}}分で到着)</p>
            <p>{{item[14]}}の{{item[13]}}を経由して({{item[15]}}分で到着)</p>
            <p>{{item[17]}}の{{item[16]}}を経由して({{item[18]}}分で到着)</p>
          {% elif num == 4 %}
            <p>{{item[11]}}の{{item[10]}}を経由して({{item[12]}}分で到着)</p>
            <p>{{item[14]}}の{{item[13]}}を経由して({{item[15]}}分で到着)</p>
            <p>{{item[17]}}の{{item[16]}}を経由して({{item[18]}}分で到着)</p>
            <p>{{item[20]}}の{{item[19]}}を経由して({{item[21]}}分で到着)</p>
          {% elif num == 5 %}
            <p>{{item[11]}}の{{item[10]}}を経由して({{item[12]}}分で到着)</p>
            <p>{{item[14]}}の{{item[13]}}を経由して({{item[15]}}分で到着)</p>
            <p>{{item[17]}}の{{item[16]}}を経由して({{item[18]}}分で到着)</p>
            <p>{{item[20]}}の{{item[19]}}を経由して({{item[21]}}分で到着)</p>
            <p>{{item[23]}}の{{item[22]}}を経由して({{item[24]}}分で到着)</p>
          {% else %}
          {% endif %}
          <p>{{item[7]}}に{{item[25]}}に到着する({{item[27]}}分で到着)</p>
          <iframe src="{{item[28]}}">ナビ画面</iframe>
        </div>
        {% endfor %}
      {% else %}
      {% endif %}
    {% else %}
      <p>設定されていません</p>

    {% endif %}
  {% else %}
    <h1>定期購入していません</h1>
    <a href="{{ url_for('subscribe') }}">
    定期購入する
    </a>
    <br>
    <a href="{{ url_for('plan') }}">
      100円で外出補助機能つきの定期プラン(近日公開)
    </a>
    <form action = "/my_index" method="post" name="my_index">
      <button type="submit" name="my_index" value="my_index">検索開始(広告なし)</button>
    </form>
    {% if my_map %}
    <font size="6px">
      
      <br>

      <p><font color="green"><a id="my_designated">{{my_map_list}}のトイレ地図を保存しています。</font></a></p>
      <iframe src="{{url_for('static', filename='{h1}'.format(h1=my_designated_map))}}" width="100%" height="500px"></iframe>
      </iframe>
    {% else %}
      <form method="post" action="/mypage">
        <div id="my_map"><strong><font color="red">保存するトイレ地図の市町村</font></strong></div>
        <script>
          function convertCSVtoArray(){ // 読み込んだCSVデータが文字列として渡される
              var result = []; // 最終的な二次元配列を入れるための配列
              const select = document.createElement('select');
              select.setAttribute("id","city_my_map");
              select.setAttribute("name","city_my_map");
              select.setAttribute("value","city_my_map");
              select.required = true;
              console.log(select.required);
              // 各行ごとにカンマで区切った文字列を要素とした二次元配列を生成
              var res = {{ lst_map | tojson}};
              
              var res1 = res.slice(0,3);
              console.log(res1);
              var res2 = res.slice(3,4);
              console.log(res2);
              var res3 = res.slice(4,5);
              var res4 = res.slice(5,6);
              var res5 = res.slice(6,7);
              var res6 = res.slice(7,8);
              var res7 = res.slice(8,9);
              var res8 = res.slice(9,17);
              console.log(res8);
              var res9 = res.slice(17,19);
              console.log(res9);
              var res10 = res.slice(19,21);
              var res11 = res.slice(21,23);
              var res12 = res.slice(23,24);
              var res13 = res.slice(24,28);
              var res14 = res.slice(28,29);
              var res15 = res.slice(29,30);
              var res16 = res.slice(30,32);
              var res17 = res.slice(32,49);
              var res18 = res.slice(49,53);
              var res19 = res.slice(53,58);
              var res20 = res.slice(58,85);
              var res21 = res.slice(85,86);
              var res22 = res.slice(86,87);
              var res23 = res.slice(87,88);
              var res24 = res.slice(88,89);
              var res25 = res.slice(89,90);
              var res0 = [res1,res2,res3,res4,res5,res6,res7,res8,res9,res10,res11,res12,res13,res14,res15,res16,res17,res18,res19,res20,res21,res22,res23,res24,res25];
              
              
              for(var i=0;i<res0.length;++i){
                var optiongroup = document.createElement("optgroup");
                select.add(optiongroup);
                console.log(i);
                  
                for(var j=0;j<res0[i].length;++j){
                  optiongroup.setAttribute("id","my_map_select");
                  optiongroup.setAttribute("name","my_map_select");
                  optiongroup.setAttribute("value","my_map_select");
                  optiongroup.setAttribute("label",res0[i][j][0]);
                  // option要素を生成
                  let option = document.createElement('option');
                  // option要素のテキストを設定
                  option.text = res0[i][j][1];
                  // option要素の値を設定
                  option.value = res0[i][j][1];
                  // 生成したoption要素をselect要素に追加
                  optiongroup.appendChild(option);
                  
                }
              }
              // select要素をbody要素の末尾に追加
              document.getElementById("my_map0").after(select);
          }
          window.onload=convertCSVtoArray();
        </script>
        <input type="submit" value="検索" onclick="Form">
      </form>
    {% endif %}
  {% endif %}

  
{% endblock %}
