{% extends "base_english.html" %}
{% block title %}本サイトにご関心を持たれました企業の皆様へ{% endblock %}
{% block body %}
　<p>本サイトでは、現在、自治体より提供されたオープンデータに基づいて公共施設のトイレをお立ち寄りポイントとして案内しています。</p>
  <br>
  <p>今後は、本サイトの利用者の利便性を高めるために公共施設のトイレの近隣に位置されている店舗もしくは多機能トイレをご所有の店舗をお立ち寄りポイントとしてご案内できる機能を追加したいと考えております。</p>
  <br>
  <p>つきましては、ご関心を持たれました企業様に、位置情報および多機能トイレの情報などをご提供いただければお立ち寄りポイントおよび近隣施設として検索候補に追加いたします。</p>
  <br>
  <fieldset style="border: 5px solid #ff6699; font-size: 100%;padding: 20px;">
    <legend style="font-size: 20px;"><strong>本サイトの利用者のご利用イメージ</strong></legend>
    <h>現時点では、例として以下の3点を想定しております。</h>
  　 <br>
    <p1>・おむつといった生理用品が販売されている店が近くにある多機能トイレをお立ち寄りポイントとして選択できるようになるなど、関連商品の購入につながる可能性を高められます。</p1>
    <br>
    <p1>・公共施設だけでなく、多機能トイレをお持ちの店舗を直接立ち寄りポイントとして選択できるようになります。</p1>
    <br>
    <p1>・絞り込み検索によって多数のトイレのデータから条件にあったお立ち寄りポイントをお早くご案内でき、さらなる利便性の向上につながります。</p1>
  </fieldset>
  <br>
  <p>さらに、今後は転居者に向けて施設別、営業時間帯別などに編集した多機能なトイレの分布図を公開し、居住先の選定につながるサービスをご提供するこ分考えております。</p>
  <br>
  <p>ご関心を持たれました企業様は、下記のお問い合わせよりお問い合わせください。</p>
  <br>
  <a href="mailto:u-rib@u-rib.com">u-rib@u-rib.com</a>
  <button type="button" onclick="history.back()">戻る</button>
{% endblock %}
